

<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/images/favicon.ico"/>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
    <link href="/stylesheets/custom.css" rel="stylesheet"/>

    <title>IRIS | Welcome to IRIS Chat</title>
