<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
<link rel="icon" href="/images/favicon.ico"/>

<!-- Glyphicons & other bootstrap things -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/stylesheets/custom.css" rel="stylesheet" type="text/css"/>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<title>IRIS | Welcome to IRIS Chat</title>
