<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/images/favicon.ico"/>

    <title>IRIS | Chat Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/custom.css" rel="stylesheet" type="text/css"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js">type = "text/javascript"</script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js" type="text/javascript"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js" type="text/javascript"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">type = "text/javascript"</script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">type = "text/javascript"</script>
    <script src="jquery-1.12.0.min.js">type = "text/javascript"</script>

    <script type="text/javascript" src="js/test.js">type = "text/javascript"</script>

    <script src="js/bootstrap.min.js"> type = "text/javascript"</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">type = "text/javascript"</script>
    <script src="js/bootstrap.min.js"> type = "text/javascript"</script>
    <![endif]-->

    <!-- Chat / User List JS-->
    <script type="text/javascript">
        function showChat() {
            document.getElementById("replacement-target").style.display = "block";
            document.getElementById("panel-footer").style.display = "block";
            document.getElementById("contentContainer").style.display = "none";
        }
        function showPeople() {
            document.getElementById("replacement-target").style.display = "none";
            document.getElementById("panel-footer").style.display = "none";
            document.getElementById("contentContainer").style.display = "block";
        }
    </script>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img alt="Logo" src="/images/syncivon.png"/></a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <a class="navbar-form navbar-right" href="/">
                <div class="btn btn-success">Sign Out</div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <!--  <h1> IRIS </h1>-->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="list-group">

                <form class="list-group-item active" action="#">
                    <input type="text" class=" list-group-item form-control "/>
                </form>
                <div class="list-group-item">
                    <a href="chat" class="btn btn-link">Channel #1</a>
                </div>
                <div class="list-group-item">
                    Channel #2
                </div>
                <div class="list-group-item">
                    <span class="badge">14</span>Channel #3
                </div>
                <div class="list-group-item">
                    <span class="badge">7</span>Channel #4
                </div>
                <div class="list-group-item">
                    <span class="badge">11</span>Channel #5
                </div>
                <div class="list-group-item">
                    <span class="badge">3</span>Channel #6
                </div>
                <div class="list-group-item">
                    Channel #7
                </div>
                <div class="list-group-item">
                    <span class="badge">6</span>Channel #8
                </div>
                <div class="list-group-item">
                    Channel #9
                </div>
                <a class="list-group-item active"><span class="badge">14</span>Help</a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="#" class="chat" onclick="showChat()" style=" color:whitesmoke">Chat</a> |
                    <a href="#" class="People" onclick="showPeople()" style="color:whitesmoke">People</a>

                    <!--<div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            &lt;!&ndash;<li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>&ndash;&gt;
                        </ul>
                    </div>-->
                </div>

                <div id="contentContainer" style="display: none;height: 400px;">
                    <div class="topicPeople">
                        <ul>
                            <li><img class="profileImage" src="/images/profilepic.png" alt="Profile Picture"/>Ali</li>
                            <li><img class="profileImage" src="/images/profilepic.png" alt="Profile Picture"/>Anton</li>
                            <li><img class="profileImage" src="/images/profilepic.png" alt="Profile Picture"/>Saeed</li>
                            <li><img class="profileImage" src="/images/profilepic.png" alt="Profile Picture"/>Tarun</li>
                            <li><img class="profileImage" src="/images/profilepic.png" alt="Profile Picture"/>Naiyarah
                            </li>
                            <li><img class="profileImage" src="/images/profilepic.png" alt="Profile Picture"/>Mic Brady
                            </li>
                            <li><img class="profileImage" src="/images/profilepic.png" alt="Profile Picture"/>Vardy</li>
                            <li><img class="profileImage" src="/images/profilepic.png" alt="Profile Picture"/>Nick</li>
                            <li><img class="profileImage" src="/images/profilepic.png" alt="Profile Picture"/>Lampard
                            </li>
                            <li><img class="profileImage" src="/images/profilepic.png" alt="Profile Picture"/>John</li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body" id="replacement-target">
                    <ul class="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=V" alt="User Avatar"
                                 class="img-circle"/>
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Vincent Vega</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>15 mins ago
                                    </small>
                                </div>
                                <p>
                                    You'll dig it the most. But you know
                                    what the funniest thing about Europe
                                    is?
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar"
                                 class="img-circle"/>
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago
                                    </small>
                                    <strong class="pull-right primary-font">Jules Winnfield</strong>
                                </div>
                                <p>
                                    What?
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=V" alt="User Avatar"
                                 class="img-circle"/>
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Vincent Vega</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>13 mins ago
                                    </small>
                                </div>
                                <p>
                                    It's the little differences. A lotta
                                    the same shit we got here, they got
                                    there, but there they're a little
                                    different.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar"
                                 class="img-circle"/>
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>12 mins ago
                                    </small>
                                    <strong class="pull-right primary-font">Jules Winnfield</strong>
                                </div>
                                <p>
                                    Examples?
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=V" alt="User Avatar"
                                 class="img-circle"/>
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Vincent Vega</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>10 mins ago
                                    </small>
                                </div>
                                <p>
                                    Well, in Amsterdam, you can buy beer
                                    in a movie theatre. And I don't mean
                                    in a paper cup either. They give you
                                    a glass of beer, like in a bar. In
                                    Paris, you can buy beer at
                                    MacDonald's. Also, you know what
                                    they call a Quarter Pounder with
                                    Cheese in Paris?
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar"
                                 class="img-circle"/>
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>5 mins ago
                                    </small>
                                    <strong class="pull-right primary-font">Jules Winnfield</strong>
                                </div>
                                <p>
                                    They don't call it a Quarter Pounder
                                    with Cheese?
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer" id="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm"/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- FOOTER -->
      <div class="footer">
        <% include partials/footer.ejs %>

       </div>

    <!-- embed kml map-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</div>
</body>

</html>