<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <% include partials/head.ejs %>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img alt="Logo" src="/images/syncivon.png"/></a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse" id="myNavbar">
            <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                <li><a href="login"><span class="glyphicon glyphicon-log-in "></span> Log In </a></li>
                &lt;!&ndash;<li><a href="#"><div class="btn btn-success"><span class="glyphicon glyphicon-log-in "></span> Log In </div> </a></li>&ndash;&gt;
            </ul>-->
            <a class="navbar-form navbar-right btn btn-success" href="login">
                <div class="btn btn-success">Log In</div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <!-- <h1> </h1>--> <!--testing passed data-->
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1>IRIS Chat</h1>
        <h2> A Synchronous Chat Service</h2>
        <p>This site is based on the project Synchronous Chat Service. This web chat client will connect to an
            existing IRC server which will be implemented in the second part of the coursework. This web client will
            allow users to chat in various channels with other users.</p>

    </div>

    <div class="well">
        The external resources used during the completion of this project were Bootstrap UI elements from: <a
                href="http://bootswatch.com/united/">bootswatch.com/united/ </a>
        &amp;
        <a href="http://www.bootply.com/6mdOs5FvKU#">bootply.com/6mdOs5FvKU#</a>
        <br/>All forms in the following links use HTML5 validated input. <br/>
        <a target="_blank" href="login" class="btn btn-link">LogIn</a>: This is the page where the user is
        directed to when they want to authenticate themselves &amp; login to use the service. They also have the option
        of joining or creating a new channel on the IRC server.<br/>
        <a target="_blank" href="signup" class="btn btn-link">Signup</a>: This page is visited when the user
        wants to sign up for an account to use the chat service with their chosen nickname, email and password.<br/>
        <a target="_blank" href="dashboard" class="btn btn-link">Dashboard</a>: The user is directed to
        this page after signing in, where they can view &amp; browse a list of channels to join.<br/>
        <a target="_blank" href="chat" class="btn btn-link">Chat</a>: This chat page is the result of
        joining on a channel where the user can chat with other participants in realtime. The user can also click on the
        people tab to see a list of all online users. <br/> <br/>
        Project contributions and status can be tracked at the following github repo:
        <a href="https://github.com/naisofly/IRC-Client/graphs/contributors">
            https://github.com/naisofly/IRC-Client/graphs/contributors
        </a>
        <br/>
        All project members worked equally
        on the above pages. <br/>

    </div>

    <div class="row">

        <div class="col-md-2">

            <img src="/images/tarun.jpg" alt="" class="img-circle"/>


        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">

            <img src="/images/Nai.jpg" alt="" class="img-circle"/>


        </div>
        <div class="col-md-1"></div>

        <div class="col-md-2">

            <img src="/images/abu_saed.jpg" alt="" class="img-circle"/>


        </div>
        <div class="col-md-1"></div>

        <div class="col-md-2">

            <img src="/images/Ali-Khan.png" alt="" class="img-circle"/>


        </div>


    </div>

    <br/><br/>


    <div class="footer">
        <% include partials/footer.ejs %>
    </div>


</div>


</body>
</html>