/*!
 * Add custom styles here for IRIS Chat
 */

body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}


.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 400px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.topicPeople {
    height: 100%;
    overflow-y: scroll;
    padding: 0 10px;
}
.topicPeople {
    padding: 0;
    position: relative;
    z-index: 1;
}
.topicPeople li {
    border-bottom: 1px solid #c6c8ca;
    color: #414042;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
}

#logo_watermark {

    width: 100%;
    display:block;
    height: auto;
    margin: 40px auto 0;
    margin-left: 24%;
    margin-bottom: 40px;
}
